- if action_name == 'edit'
  - opts = {:url => survey_path(@survey.unique_id)}
- else
  - opts = {}
= form_for(@survey, opts) do |f|
  - if @survey.errors.any?
    #error_explanation
      %h2
        = pluralize(@survey.errors.count, "error")
        prohibited this survey from being saved:
      %ul
        - @survey.errors.full_messages.each do |msg|
          %li= msg
  %ul#questions
    %li#birthday.question.clearfix
      = f.label :birthday
      .input
        = f.date_select :birthday,
          {:start_year => 1950, :end_year => Time.now.year, :include_blank => true, :use_short_month => true},
          :class => 'mini'
    %li#favorite_season.question.clearfix
      = f.label :favorite_season
      .input
        = f.select :favorite_season, Survey::SEASONS.map { |s, n| [s.capitalize, s] }
    %li#hometown.question.clearfix
      = f.label :hometown
      .input
        = f.text_field :hometown
    %li#time_outdoors.question.clearfix
      = f.label :time_outdoors, 'Hours spent outdoors per week'
      .input
        = f.number_field :time_outdoors
    %li#gender.question.clearfix
      = f.label :gender
      .input
        %ul.inputs-list
          %li
            %label
              = f.radio_button :gender, 'male'
              Male
          %li
            %label
              = f.radio_button :gender, 'female'
              Female
    %li#preferred_pattern.question.clearfix
      = f.label :preferred_pattern
      .input
        %label.image
          = image_tag 'pattern_1.jpg'
          = f.radio_button :preferred_pattern, 1
        %label.image
          = image_tag 'pattern_2.png'
          = f.radio_button :preferred_pattern, 2
        %label.image
          = image_tag 'pattern_3.jpg'
          = f.radio_button :preferred_pattern, 3
        %label.image
          = image_tag 'pattern_4.jpg'
          = f.radio_button :preferred_pattern, 4
    %li#likes_spicy_food.question.clearfix
      = f.label :likes_spicy_food, 'Do you like spicy food?'
      .input
        %ul.inputs-list
          %li
            %label
              = f.radio_button :likes_spicy_food, 0
              .span No
          %li
            %label
              = f.radio_button :likes_spicy_food, 1
              .span Yes
    %li#dominant_hand.question.clearfix
      = f.label :dominant_hand
      .input
        %ul.inputs-list
          %li
            %label
              = f.radio_button :dominant_hand, 'left'
              Left
          %li
            %label
              = f.radio_button :dominant_hand, 'right'
              Right
    %li#prefers_baths.question.clearfix
      = f.label :prefers_baths, 'Do you prefer showers or baths?'
      .input
        %ul.inputs-list
          %li
            %label
              = f.radio_button :prefers_baths, 0
              Showers
          %li
            %label
              = f.radio_button :prefers_baths, 1
              Baths
    %li#preferred_pet.question.clearfix
      = f.label :preferred_pet
      .input
        %ul.inputs-list
          %li
            %label
              = f.radio_button :preferred_pet, 'cat'
              Cats
          %li
            %label
              = f.radio_button :preferred_pet, 'dog'
              Dogs
    %li#night_or_day.question.clearfix
      = f.label :night_or_day, 'Are you a night or day person?'
      .input
        %ul.inputs-list
          %li
            %label
              = f.radio_button :night_or_day, 'night'
              Night
          %li
            %label
              = f.radio_button :night_or_day, 'day'
              Day
    .actions
      = f.submit 'Predict my favorite color!', :class => 'btn primary'
