%p#notice= notice
%h1 Favorite Color Prediction
%p= @survey.prediction.to_s.capitalize

%h1 Survey Answers
%p
  %b Birthday:
  = @survey.birthday
%p
  %b Favorite season:
  = @survey.favorite_season
%p
  %b Hometown:
  = @survey.hometown
%p
  %b Time outdoors:
  = @survey.time_outdoors
%p
  %b Gender:
  = @survey.gender
%p
  %b Preferred pattern:
  = @survey.preferred_pattern
%p
  %b Likes spicy food:
  = @survey.likes_spicy_food
%p
  %b Dominant hand:
  = @survey.dominant_hand
%p
  %b Prefers baths:
  = @survey.prefers_baths
%p
  %b Preferred pet:
  = @survey.preferred_pet
%p
  %b Night or day:
  = @survey.night_or_day

%h1 Prediction Wrong? Correct it

= form_for @survey, :url => survey_path(@survey.unique_id) do |f|
  - if @survey.errors.any?
    #error_explanation
      %h2
        = pluralize(@survey.errors.count, "error")
        prohibited this survey from being saved:
      %ul
        - @survey.errors.full_messages.each do |msg|
          %li= msg
  .field.clearfix
    = f.label :favorite_color
    .input
      = f.select :favorite_color, Survey::FAVORITE_COLOR.keys.map { |c| [c.capitalize, c] }
  .actions
    = f.submit 'Correct', :class => 'btn primary'
    = link_to 'Edit answers', edit_survey_path(@survey.unique_id), :class => 'btn'
